<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmanoEvent.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
				<key>dateExpires</key>
				<string>21/05/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BarcodeScannerFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NativeScript.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSAutoComplete.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSDataForm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSListView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSSideDrawer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE85990CE64F22B25CAA95C8EAADABFA2C51AADD</string>
						<key>dateExpires</key>
						<string>21/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSWidgets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GUM397JD47.com.amanomcgann.amanoeventsystem</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GUM397JD47</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>GUM397JD47.com.amanomcgann.amanoeventsystem</string>
				</array>
			</dict>
			<key>name</key>
			<string>AmanoEvent.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5863bb65-5daa-4207-98ae-49b77b6ca6cf</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.amanomcgann.amanoeventsystem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GUM397JD47</string>
				<key>name</key>
				<string>Amano McGann Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
