<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmanoEvent.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
				<key>dateExpires</key>
				<string>23/05/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BarcodeScannerFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>94.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.5.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NativeScript.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSAutoComplete.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSDataForm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSListView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSSideDrawer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TNSWidgets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>38CA027B00CB4CA66B67190AE7ADF9A2516195D9</string>
						<key>dateExpires</key>
						<string>23/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GUM397JD47</string>
						<key>name</key>
						<string>Amano McGann Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GUM397JD47.com.amanomcgann.amanoeventsystem</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GUM397JD47</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>GUM397JD47.com.amanomcgann.amanoeventsystem</string>
				</array>
			</dict>
			<key>name</key>
			<string>AmanoEvent.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d0a5f6f3-6c96-48db-a89a-06ec70ef9613</string>
				<key>dateExpires</key>
				<string>23/05/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.amanomcgann.amanoeventsystem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GUM397JD47</string>
				<key>name</key>
				<string>Amano McGann Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>2.3</string>
		</dict>
	</array>
</dict>
</plist>
